<div *ngIf="!isAuthorized">
  <p>No deberías estar aquí.</p>
</div>

<div *ngIf="isAuthorized">
  <app-user-edit [mode]="2"></app-user-edit>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha de Nacimiento</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.email }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{ user.birthDate }}</td>
        <td>
          <app-user-edit [mode]="0" [userId]="'wewjewj'"></app-user-edit>
          <p-button  severity="danger" (click)="onDelete(user.id)"><i class="pi pi-trash"> </i>Borrar</p-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
