@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

h1 {
  font-weight: bold;
  margin: 0;
  font-size: 2rem; // Ajuste del tamaño de fuente
}

h2 {
  text-align: center;
  font-size: 1.5rem; // Ajuste del tamaño de fuente
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;

  @media (max-width: 768px) {
    font-size: 12px; // Ajuste del tamaño de fuente en móviles
    line-height: 18px;
  }
}

span {
  font-size: 12px;

  @media (max-width: 768px) {
    font-size: 10px; // Ajuste del tamaño de fuente en móviles
  }
}

a {
  color: #333 !important;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;

  @media (max-width: 768px) {
    font-size: 12px; // Ajuste del tamaño de fuente en móviles
  }
}

button {
  border-radius: 20px;
  border: 1px solid #FF4B2B;
  background-color: #FF4B2B;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;

  @media (max-width: 768px) {
    font-size: 10px; // Ajuste del tamaño de fuente en móviles
    padding: 10px 35px; // Ajuste del padding en móviles
  }
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

form {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100% !important;
  max-width: 400px; // Ancho máximo para pantallas grandes
  min-width: 200px; // Ancho mínimo para pantallas pequeñas

  @media (max-width: 768px) {
    font-size: 14px; // Ajuste del tamaño de fuente en móviles
    padding: 10px 12px; // Ajuste del padding en móviles
  }
}

.custom-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;

  // Centrar horizontal y verticalmente en monitores
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  // Ajustes para tabletas y móviles
  @media (max-width: 1024px) {
    width: 100%; // Ocupa el 100% del ancho
    height: 100%; // Ocupa el 100% del alto
    top: 0;
    left: 0;
    transform: none; // Elimina el centrado con transform
    border-radius: 0; // Elimina los bordes redondeados

    overflow-x: auto; // Habilita el scroll horizontal
    display: flex;
    flex-direction: row; // Mantiene los elementos en fila
  }

  &.custom-right-panel-active {
    .custom-sign-in-container {
      transform: translateX(100%);
    }

    .custom-sign-up-container {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
      animation: custom-show 0.6s;
    }

    .custom-overlay-container {
      transform: translateX(-100%);
    }

    .custom-overlay {
      transform: translateX(50%);
    }

    .custom-overlay-left {
      transform: translateX(0);
    }

    .custom-overlay-right {
      transform: translateX(20%);
    }
  }
}

.custom-form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;

  &.custom-sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  &.custom-sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }

  @media (max-width: 1024px) {
    position: relative;
    width: 100%; // Ocupa todo el ancho
    height: auto; // Ajusta la altura automáticamente
    z-index: auto;
    flex-shrink: 0; // Evita que los formularios se reduzcan

    &.custom-sign-in-container {
      width: 50%; // Ocupa todo el ancho
      left: -25%;      

    }

    &.custom-sign-up-container {
      width: 50%; // Ocupa todo el ancho
      left: -25%;

    }
  }
}

.custom-overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;

  @media (max-width: 1024px) {
    display: none; // Oculta el panel de superposición en tabletas y móviles
  }
}

.custom-overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;

  @media (max-width: 1024px) {
    height: 100%; // Mantiene la altura completa
    width: 100%; // Ajusta el ancho
    left: 0;
    transform: none; // Elimina la transformación
  }
}
.custom-toggle {
  background-color: transparent;
  border: none;
  color: #FF4B2B;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;

  @media (min-width: 1025px) {
    display: none; // Oculta el botón extra en pantallas grandes
  }
}
.custom-overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;

  &.custom-overlay-left {
    transform: translateX(-20%);
  }

  &.custom-overlay-right {
    right: 0;
    transform: translateX(0);
  }

  @media (max-width: 1024px) {
    width: 100%; // Ocupa todo el ancho
    height: 100%; // Ajusta la altura
    transform: none; // Elimina la transformación
  }
}

.custom-ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.p-error{
  font-family: Arial, Helvetica, sans-serif;
  color: #ce3d5f;
  font-size: 10px;
  margin-top: -5px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  max-width: 400px; // Ancho máximo para pantallas grandes
  min-width: 200px; // Ancho mínimo para pantallas pequeñas
  background-color: #f5cdd6;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
  display: flex;
  align-items: center;
  border: #ce3d5f solid 1px;
}

.error-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.error-popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.error-popup-content h2 {
  margin: 0 0 10px;
  color: #ff4b2b;
}

.error-popup-content p {
  margin: 0 0 20px;
}

.error-popup-content button {
  background-color: #ff4b2b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.error-popup-content button:hover {
  background-color: #e04327;
}