<div class="custom-container" [class.custom-right-panel-active]="isRightPanelActive">
    <div class="custom-form-container custom-sign-up-container" >
      <form #signUpForm="ngForm" (ngSubmit)="onSubmitSignUp(signUpForm)" > 
        <div *ngIf=" isDestopOrLaptop  ||  (!isDestopOrLaptop && isRightPanelActive) ">
          
        <h1>Crear cuenta</h1>

        <!-- Correo electrónico -->
        <div class="p-field">
            <input type="email" name="email" [(ngModel)]="user.email" placeholder="Correo electrónico" required email />
            <small *ngIf="signUpForm?.submitted && !user?.email" class="p-error">El correo es obligatorio.</small>
            <small *ngIf="signUpForm?.submitted && user?.email && signUpForm.controls['email']?.errors?.['email']" class="p-error">El correo no es válido.</small>
        </div>

        <!-- Contraseña -->
        <div class="p-field">
            <input type="password" name="password" [(ngModel)]="user.password" placeholder="Contraseña" required minlength="6" />
            <small *ngIf="signUpForm?.submitted && !user?.password" class="p-error">La contraseña es obligatoria.</small>
            <small *ngIf="signUpForm?.submitted && user?.password && user.password.length < 6" class="p-error">La contraseña debe tener al menos 6 caracteres.</small>
        </div>

        <!-- Repetir contraseña -->
        <div class="p-field">
            <input type="password" name="password1" [(ngModel)]="user.password1" aria-label="password1" placeholder="Repite la contraseña" required />
            <small *ngIf="signUpForm?.submitted && !user?.password1" class="p-error">Debes repetir la contraseña.</small>
            <small *ngIf="signUpForm?.submitted && user?.password !== user?.password1" class="p-error">Las contraseñas no coinciden.</small>
        </div>

        <!-- Nombre -->
        <div class="p-field">
            <input type="text" name="name" [(ngModel)]="user.name" aria-label="name" placeholder="Nombre(s)" required />
            <small *ngIf="signUpForm?.submitted && !user?.name" class="p-error">El nombre es obligatorio.</small>
        </div>

        <!-- Apellidos -->
        <div class="p-field">
          <input type="text" name="lastname" [(ngModel)]="user.lastname" aria-label="lastname" placeholder="Apellido(s)" required />
          <small *ngIf="signUpForm?.submitted && !user?.lastname" class="p-error">El apellido es obligatorio.</small>
      </div>

        <!-- Estado -->
        <div class="p-field">
            <select2 
                [data]="states" 
                [value]="user.selectedState" 
                (update)="user.selectedState = $event.value" 
                placeholder="Selecciona tu estado">
            </select2>
            <small *ngIf="signUpForm?.submitted && !user?.selectedState" class="p-error">El estado es obligatorio.</small>
        </div>

        <!-- Fecha de nacimiento -->
        <div class="p-field">
            <input type="date" name="birthDate" [(ngModel)]="user.birthDate" placeholder="Fecha de nacimiento" required />
            <small *ngIf="signUpForm?.submitted && !user?.birthDate" class="p-error">La fecha de nacimiento es obligatoria.</small>
        </div>

        <button type="submit">Registrarse</button>
        <!-- Botón extra para cambiar al formulario de inicio de sesión en pantallas pequeñas -->
        <button class="custom-toggle" (click)="onSignInClick()">Ya tengo una cuenta</button>
        </div>

      </form>
    </div>
    <div class="custom-form-container custom-sign-in-container" >
      <form #signInForm="ngForm" (ngSubmit)="onSubmitSignIn(signInForm)">
        <div *ngIf=" isDestopOrLaptop  ||  (!isDestopOrLaptop && !isRightPanelActive) ">
          <h1>Iniciar sesión</h1>
          <div class="p-field">
              <input type="email" name="emailL" [(ngModel)]="user.email" placeholder="Correo electrónico"  required email />
              <small *ngIf="signInForm?.submitted && !user?.email" class="p-error">El correo es obligatorio.</small>
              <small *ngIf="isEmailInvalid(signInForm)" class="p-error">El correo no es válido.</small>
            </div>
          <!-- Contraseña -->
          <div class="p-field">
              <input type="password" name="password" [(ngModel)]="user.password" placeholder="Contraseña" required minlength="6" />
              <small *ngIf="signUpForm?.submitted && !user?.password" class="p-error">La contraseña es obligatoria.</small>
              <small *ngIf="signUpForm?.submitted && user?.password && user.password.length < 6" class="p-error">La contraseña debe tener al menos 6 caracteres.</small>
          </div>
      
  
  
          <button type="submit">Entrar</button>
          <!-- Botón extra para cambiar al formulario de registro en pantallas pequeñas -->
          <button class="custom-toggle" (click)="onSignUpClick()">Crear una cuenta</button>
        </div>
      </form>
    </div>
    <!-- Panel de superposición, oculto en tabletas y móviles -->
    <div class="custom-overlay-container">
      <div class="custom-overlay">
        <div class="custom-overlay-panel custom-overlay-left">
          <h1>¡Hola, de nuevo!</h1>
          <p>Si ya tienes una cuenta, ingresa.</p>
          <button class="custom-ghost" (click)="onSignInClick()">Iniciar sesión</button>
        </div>
        <div class="custom-overlay-panel custom-overlay-right">
          <h1>¡Hola, amig&#64;!</h1>
          <p>Agrega algunos datos, y crea una nueva cuenta.</p>
          <button class="custom-ghost" (click)="onSignUpClick()">Crear una nueva cuenta</button>
        </div>
      </div>
    </div>
  </div>