/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.min.css"; // theme


body
{
  --font-family: "Open Sans";
  margin: 0;
  background-color: #fbfdfd8b;
}